@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.card {
    border-radius: 0.8rem!important;
}

.card-img-overlay {
    border-radius: 0.8rem!important;
}

.rounded-xl {
    border-radius: 0.8rem!important;
}

.rounded-xl-bottom {
    border-bottom-right-radius: 0.8rem !important;
    border-bottom-left-radius: 0.8rem !important;
}

.rounded-xl-top {
    border-top-left-radius: 0.8rem !important;
    border-top-right-radius: 0.8rem !important;
}


.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}

.d-flex .h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.d-flex .h1 small {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0;
    margin-left: 0.5rem;
}

.experience-logo {
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

div.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.email-text {
    font-family: Source Code Pro, monospace;
}

/* Project Page Styles */
.hero-section {
    padding: 4rem 0 2rem;
}

.section {
    padding: 4rem 0;
}

.section.bg-light {
    background-color: #f8f9fa;
}

/* Fix Bootstrap spacing */
.btn {
    margin-bottom: 0.5rem;
}

.text-justify {
    text-align: justify;
}

/* Video styles */
video {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.8rem 0.8rem 0 0;
}

/* Project page styles */
.project-title {
    font-size: 3rem;
    font-weight: 700;
}

.project-authors {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6;
}

.sup-normal {
    font-size: 0.75rem;
    vertical-align: super;
    margin-left: 2px;
}

.sup-sm {
    font-size: 0.7rem;
    vertical-align: super;
    margin-left: 1px;
}

.institution {
    margin-right: 1.5rem;
}

